/* @keyframes creativeText {
	0% {
		content: '|';
	}
	
	5% {
		content: '|';
	}
	
	12.5% {
		content: 'C|';
	}
	25% {
		content: 'Cr|';
	}
	37.5% {
		content: 'Cre|';
	}
	50% {
		content: 'Crea|';
	}
	62.5% {
		content: 'Creat|';
	}
	75% {
		content: 'Creati|';
	}
	87.5% {
		content: 'Creativ|';
	}
	100% {
		content: 'Creative';
	}
}

.creative-animate::after {
	content: '';
	top: 0;
	right: 0;
    animation-name: creativeText;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 2000ms;
	
} */
/* 
.ki-animate {
	height: 100%;
	overflow: hidden;
}
.ki-animate::before {
	content: "|";
	animation: ki 3s linear infinite;
}

@keyframes ki {
	0%, 10%, 100% {
		content: '|';
	}
	70%, 80%, 90% {
		content: "Khidma IT";
	}
} */
